{% extends "base.html" %} {% block title %}League Chart{% endblock %} {% block
main %}

<div class="container-fluid">
    <h1 class="mt-4 mb-4">League Goals Chart</h1>
    <div class="table-responsive">
        <table class="table table-striped table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    {% for team in teams %}
                    <th class="text-center" scope="col">{{team}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for local in teams %}
                <tr>
                    <th class="bg-dark text-light" scope="row">{{local}}</th>
                    {% for visitant in league[local] %}
                    <td class="text-center">{{league[local][visitant]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
