{% extends "base.html" %} {% block title %}Goals{% endblock %} {% block main %}

<div class="container-fluid">
    <h1 class="mt-4 mb-4">Set Goals</h1>

    {% if error == "sameTeams" %}
    <div class="alert alert-danger" role="alert">
        Please, select different teams.
    </div>
    {% endif %}
    <form method="POST">
        <div class="card">
            <h5 class="card-header">Local Team</h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="localTeamSelector">Local Team</label>
                    <select
                        class="form-control"
                        name="localTeam"
                        id="localTeamSelector"
                    >
                        {% for team in teams %}
                        <option value="{{team}}">{{team}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="localTeamScoreInput"> Local Team Score</label>
                    <input
                        type="number"
                        class="form-control"
                        name="localTeamScore"
                        id="localTeamScoreInput"
                        aria-describedby="helpId"
                        required
                        placeholder="0"
                    />
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <h5 class="card-header">Visitant Team</h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="visitantTeamSelector">Visitant Team</label>
                    <select
                        class="form-control"
                        name="visitantTeam"
                        id="visitantTeamSelector"
                    >
                        {% for team in teams %}
                        <option value="{{team}}">{{team}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="visitantTeamScoreInput">
                        Visitant Team Score</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        name="visitantTeamScore"
                        id="visitantTeamScoreInput"
                        aria-describedby="helpId"
                        required
                        placeholder="0"
                    />
                </div>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
